body
{
	background-color: #232323;
	margin: 0;
	font-family: "cursive";
} 
.square{
	width: 30%; 
	background:purple;
	padding-bottom:30%;
	float: left;
	margin: 1.66%;
	border-radius: 15%;
	transition: background 0.6s;/*bring the selected changes with the time we have given*/

}
#container{
	max-width: 600px;
	margin: 20px auto;
}
h1
{
	color: white;
	text-align: center;/*to align text in the centre*/
	background:steelblue;
	line-height:1.1;
	margin: 0;
	padding: 20px 0;
	font-weight: normal;
	text-transform: uppercase;/*to make all text uppercase*/
}
#stripe{
	background: white;
	height: 30px;
	text-align: center;
}
.selected{
	color: white;
	background:steelblue;
}
#colordisplay{
   font-size: 200%;	
}
button{
	border:none;/*to remove all border*/
    background: none; /*to remove background*/
    text-transform: uppercase;
    height:100%;
    font-weight: 700;
    color: steelblue;
    letter-spacing: 1px;/*used to give space between letter*/
    font-size: inherit;
    transition: all 0.3s;
    outline: none;/*To remove the blueline around the button*/
}
#message{
	display: inline-block;
	width: 20%;
}
button:hover{
	color: white;
	background:steelblue;
}